.accesories-page {
  max-width: 1200px;
  padding: 60px 40px;
  align-self: center;
  display: flex;
  flex-direction: column;
  h1 {
    margin-top: 0;
  }
  .filters {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    h4 {
      font-size: 24px;
      margin-bottom: 8px;
    }
  }
  .go-back{
    color: #02599e;
    text-decoration: underline;
    cursor: pointer;
  }
  .wrapper {
    display: flex;
  }
  @media only screen and (max-width: 768px) {
    padding: 20px;
  }
}
