.sign-up {
  display: grid;
  grid-template-columns: 50% 1fr;
  .form {
    padding: 30px 40px;
  }
  .image {
    background-image: url(../images/sign-up.jpg);
    background-size: cover;
    width: 100%;
  }
  @media only screen and (max-width: 1024px) {
    grid-template-columns: 100%;
    .image {
      display: none;
    }
  }
}
