.filters {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    align-self: flex-start;
    position: sticky;
    top:0;
    label {
        display: inline-flex;
        align-items: baseline;
    }
    h4 {
      font-size: 24px;
      margin-bottom: 8px;
    }
    p {
        font-weight: bold;
    }
    @media only screen and (max-width: 768px) {
        min-width: unset;
        margin-right: 0 !important;
        
    }
    button {
        font-size: 12px;
        padding: 5px;
        margin-top: 15px;
        width: 80%;
    } 
    .clear-btn {
        cursor: pointer;
        margin-top: 10px;
        color: #02599e;
        font-size: 12px;
        text-decoration: underline;
    }
  }
  