.navigation {
  display: flex;
  flex-direction: column;
  padding: 20px;
  .item {
    display: flex;
    flex-direction: column;
    .filter-checkbox {
      display: flex;
      align-items: center;
    }
    .title {
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      h4 {
        margin: 0 10px 0 0;
        font-size: 18px;
      }
      .icon {
        width: 16px;
        margin-bottom: 5px;
        cursor: pointer;
        svg > path {
          stroke: #000;
        }
        &.--disabled {
          svg > path {
            stroke: #ccc;
          }
        }
      }
    }

    ul {
      padding: 0;

    }
    li {
      list-style: none;
      cursor: pointer;
      margin-bottom: 8px;
    }
  }
  @media only screen and (max-width: 768px) {
    padding: 5px;
  }
}
