.navigation {
  display: flex;
  flex-direction: column;
  width: 350px;

  padding: 20px;
  .item {
    display: flex;
    flex-direction: column;
    .title {
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      h4 {
        margin: 0 10px 0 0;
        font-size: 18px;
      }
      .icon {
        width: 16px;
        margin-bottom: 5px;
        cursor: pointer;
        svg > path {
          stroke: #000;
        }
        &.--disabled {
          svg > path {
            stroke: #ccc;
          }
        }
      }
    }
    .list {
      max-height: 0px;
      overflow: hidden;
      transition: max-height ease 0.2s;
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 5px;
      margin: 5px;
      &.--open {
        max-height: 300px;
      }
      a {
        text-decoration: none;
        color: #000;
        font-size: 14px;
      }
    }
  }
  @media only screen and (max-width: 768px) {
    padding: 5px;
  }
}
